<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static\oldperson.css">
    <script>
        function confirmDelete() {
            return confirm("정말로 삭제하시겠습니까?");
        }
    </script>
</head>
<body>
    <header class="header">
        <h1 align="center">노인건강관리 시스템</h1>
    </header>
    <div class="sidebar">
        <a href="login">홈</a>
        <a href="oldperson">어르신 추가하기</a>
        {% for oldname in oldnames %}
            <a href="{{ url_for('oldperson_info', oldname=oldname) }}">
                {{ oldname}}
                <form class="delete-form" action="{{ url_for('delete_oldperson', oldname=oldname) }}" method="post" onsubmit="return confirmDelete()">
                        <input type="image" src="static\garbage.png" alt="삭제" width="20" height="20" >
                </form>
            </a>
        {% endfor %}
    </div>
    <div class="content">
        <div style="display: flex; gap: 10px">
            <form action="{{url_for('exercise_arm')}}" method="post">
                <input type="image" src="static\oldperson.jpg" alt="팔운동2" width="300" height="200" style="border: 2px solid;" >
            </form>
            <form action="{{url_for('exercise_shoulder')}}" method="post">
                <input type="image" src="static\oldperson2.jpg" alt="어깨운동1" width="300" height="200" style="border: 2px solid;" >
            </form>
        </div>
    </div>
</body>
</html>
