<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='oldperson.css') }}">
    <script>
        function confirmDelete() {
            return confirm("정말로 삭제하시겠습니까?");
        }
    </script>
</head>
<body>
    <header class="header">
        <h1 align="center">{{ oldperson_info[2] }}님 상세건강정보</h1>
    </header>
        <div class="sidebar">
        <a href="{{ url_for('login') }}">홈</a>
        <a href="{{ url_for('oldperson') }}">어르신 추가하기</a>
        {% for oldname in oldnames %}
            <a href="{{ url_for('oldperson_info', oldname=oldname) }}">
                {{ oldname}}
                <form class="delete-form" action="{{ url_for('delete_oldperson', oldname=oldname) }}" method="post" onsubmit="return confirmDelete()">
                    <input type="image" src="{{ url_for('static', filename='garbage.png') }}" alt="삭제" width="20" height="20">
                </form>
            </a>
        {% endfor %}
    </div>
    <div class="content">
        <div class="healthinfo-table">
            <table border="1" class="style-table">
                <thead>
                    <tr>
                        <th>날짜</th>
                        <th>혈압</th>
                        <th>혈당</th>
                        <th>건강 상태</th>
                    </tr>
                </thead>
                <tbody>
                    {% for info in healthinfo %}
                    <tr>
                        <td>{{ info[2] }}</td>
                        <td>{{ info[3] }}mmHg</td>
                        <td>{{ info[4] }}mg/dL</td>
                        <td>{{ info[5] }}</td>
                        <td>
                            <form action="{{ url_for('delete_healthinfo', oldname=oldperson_info[2], id=info[0]) }}"
                                  method="post" onsubmit="return confirmDelete()">
                                <input type="submit" value="삭제" class="delete-btn">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
